pkgbase = kiro-ide-bin
	pkgdesc = An agentic AI IDE with spec-driven development from prototype to production
	pkgver = 0.11.130
	pkgrel = 2
	epoch = 1
	url = https://kiro.dev/
	arch = x86_64
	license = LicenseRef-Kiro
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = curl
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libgcc
	depends = libsecret
	depends = libsoup3
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = openssl
	depends = pango
	depends = systemd-libs
	depends = util-linux-libs
	conflicts = kiro
	conflicts = kiro-ide
	conflicts = kiro-ide-deb
	options = !debug
	options = !strip
	source = kiro-ide-0.11.130.tar.gz::https://prod.download.desktop.kiro.dev/releases/stable/linux-x64/signed/0.11.130/tar/kiro-ide-0.11.130-stable-linux-x64.tar.gz
	source = kiro-ide-0.11.130-tar-signature.bin::https://prod.download.desktop.kiro.dev/releases/stable/linux-x64/signed/0.11.130/tar/signature.bin
	source = kiro-ide-0.11.130-certificate.pem::https://prod.download.desktop.kiro.dev/releases/stable/linux-x64/signed/0.11.130/tar/certificate.pem
	source = Kiro-LICENSE.txt
	b2sums = 6702966b9eeff3603e83dd3b83380d057c55778587753500c1af60db0c4edc08d120a5851cf3ef3f2972f7e128abba09e17b9630e81e0c70b8dc4346367f3e33
	b2sums = 416a2bc69782564765f36085214766b13ab8ab1a4d3644e75876311637f93e6f735498d6cfb112410b4260ed378de1a9269ab3f3a3bdfd494fac047d91e442c4
	b2sums = 4cba4d51523a883653b28e04abc4a0e444d7672636153be9c99058b4469137ab2c591466d9452c5471e1577c6ce9a54edca28f14c01e6d66b36b72eb53f92bc8
	b2sums = cdf6d0032fa207b2a54079a5680557cff053daa63ae21ec312272b0b84740ff6a88688f37300ad382c7005d22c1d1abbd083eaa017b9259e6e71fb3f3a7b7838

pkgname = kiro-ide-bin
